<div class="contact-detail">
    <h3>Contact details</h3>
    <table class="contacts-detail-table">
        <thead>
            <tr>
                <th class="contacts-table-cell">First name</th>
                <th class="contacts-table-cell">Last name</th>
                <th class="contacts-table-cell">Phone</th>
                <th class="contacts-table-cell">Email</th>
                <th class="contacts-table-cell">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="contacts-table-cell">{{contact.firstName}}</td>
                <td class="contacts-table-cell">{{contact.lastName}}</td>
                <td class="contacts-table-cell">{{contact.phone}}</td>
                <td class="contacts-table-cell">{{contact.email}}</td>
                <td class="contacts-table-cell">{{contact.address}}</td>
            </tr>
        </tbody>
    </table>
</div>
